<div class="gallery">


    <figure class="gallery__item gallery__item--2">
        <img src="/assets/img/home-brain-img2.png" class="gallery__img" alt="Image 2">
    </figure>

    <figure class="gallery__item gallery__item--3">
        <img src="/assets/img/home-brain-img3.png" class="gallery__img" alt="Image 3">
    </figure>

    <figure class="gallery__item gallery__item--4">
        <img src="/assets/img/ecg.png" class="gallery__img" alt="Image 4">
    </figure>

    <figure class="gallery__item gallery__item--1">
        <img src="/assets/img/home-brain-img1.png" class="gallery__img" alt="Image 1">
    </figure>

    <div class="gallery__item gallery__item--5">
        <p class="gallery__text">
            <strong>ABSTRACT</strong> is a pioneering research study which aims to use the power of Artificial
            Intelligence to
            make
            better predictions about who will develop a stroke in the future. By analysing information held in
            healthcare records and medical tests, we aim to produce personalised assessments of the risk of future
            stroke, enabling healthcare professionals to offer treatment to reduce this risk. To find out more click
            <a href="the_project.html">here</a>.
        </p>

        <p class="gallery__text">
            We would love to hear your views on this project, which you can tell us by completing this
            <a href="https://qfreeaccountssjc1.az1.qualtrics.com/jfe/form/SV_3pJvOodVsfUoP8W">feedback survey</a>.
        </p>
    </div>
</div>